*{
    margin:0px;
    font-family: 'Montserrat', sans-serif;

}
header{
    width: auto;
    background-color: #f04848;
    text-align: center;
}
header section{
    border: solid 2px #730f0f
}

.contenido{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
    color: black;
}    


