*{
    margin:0px;
    font-family: 'Montserrat', sans-serif;

}

body{
    background-image: url("/images/fondo-home.jpg");
}
header{
    width: auto;
    background-color: #f04848;
    text-align: center;
}
header section{
    border: solid 2px #730f0f
}
header h1{
    font-size: 6vw;
}

header p{
    font-size: 2vw;
}

header img{
    width: 40px;
    position:absolute;
    right: 20px;
    top: 2px;
}

.contenido{
    display: flex;
    font-size: 2vw;
    flex-wrap: wrap;
    flex-direction: column;
    }

    
    li{
        list-style:none;
    }
a{
    text-decoration: none;
    color: black;
}    

.premium, .gratuito {
    color:aqua;
}

@media (min-width:670px){
    .contenido{
        flex-direction: row;
        display: flex;
    }
    .contenido a{
        font-size: 30px;
        padding: 20px;
    }
    header img{
        width: 80px;
    }
    .premium{
        justify-self: flex-end;
    }
}
