*{
    margin:0px;
    font-family: 'Oswald', sans-serif;

}

body{
    background-image: url("/images/fondo-home.jpg");

}
header{
    width: auto;
    background-color: #f04848;
    border-bottom: solid 2px #730f0f;
    text-align: center;
    border-right: solid 2px #730f0f;
    border-left: solid 2px #730f0f;
}
header section{
    border: solid 2px #730f0f;
}
header h1{
    font-size: 6vw;
}

header p{
    font-size: 2vw;
}

header img{
    width: 40px;
    position:absolute;
    right: 20px;
    top: 2px;
}

    
li{
    list-style:none;
    }
    
a{
    text-decoration: none;
    color: black;
}    



/* @media (min-width:420px){
    .contenido{
        display: flex;
        flex-direction: row;
    }
    .contenido a{
        font-size: 30px;
        padding: 20px;
    }
    header img{
        width: 80px;
    }
    .premium{
        text-align: left;
    }
} */
