<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
    <title>David Correa Guitarra</title>
</head>
<body>
    <header>
       <section>
            <h1>BIENVENIDO</h1>
            <p>a David Correa guitarra</p>
       </section>

       <nav>
           <ol class="contenido">
               <li><a href="a" class="Gratuito">Contenido Gratuito</a></li>
               <li><a href="a" class="Exclusivo">Contenido Exclusivo</a></li>
            </ol>
        </nav>

    </header>
    
</body>
</html>