<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
    <title>David Correa Guitarra</title>
</head>
<body>
    <header>
       <section>
            <h1>BIENVENIDO</h1>
            <p>a David Correa guitarra</p>
            <img src="/images/logo.png" alt="Logo">
       </section>

       <nav class="contenido">

               <li><a href="gratuito.html" class="gratuito">David Free</a></li>
               <li><a href="premium.html" class="premium">David Premium</a></li>

        </nav>

    </header>



    
</body>
</html>